<header class="home-section">
  <div class="dark-overlay">
    <h1>Corona Tracker</h1>
    
    <div class="first">
    <div class="container">
      <div class="row">
      <div class="col md-3">
        <div class="card" style="height:230px;">
          <div class="card-body">
            <h5 class="card-title" style="text-align:center;margin-bottom: 30px;"><strong>Symptoms</strong></h5>
            <div class="row">
            <div class="col md-3">
            
            <img src="../assets/cough.png" style="height:140px;width:140px; text-align: left;">
          </div>
          <div class="col md-6">
            <p style="text-align: left;color:rgba(12, 12, 11, 0.897);margin-right:20px;font-size: 14px;">
            <li >Fever </li>
            <li >Dry Cough </li>
            <li >Headache </li>
            <li >Difficulty in breathing </li>
            <li >Lost of taste or smell</li>
            <li >Chestpain or Pressure</li>
          </p>
          </div>
          </div> 
            <p class="card-text"><strong></strong></p>
          </div>
        </div>
      </div>

      <div class="col md-6" style="width:90px;" >
        <div class="card" style="height:230px; width:480px;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;margin-bottom:30px;"><strong> Preventive measures</strong> </h5>
            <div class="row">
              <div class="col md-4">
              
              <img src="../assets/handwash.png" style="height:100px;width:100px; text-align: left;">
            </div>
            <div class="col md-4">
              
              <img src="../assets/mask.png" style="height:100px;width:100px; text-align: left;">
            </div>
            <div class="col md-4">
              <p style="text-align: left;color:rgba(10, 10, 10, 0.712);margin-right:20px;font-size: 14px;">
                <img src="../assets/Home1.png" style="height:100px;width:100px; text-align: left;">
              
              <!-- <li >Difficulty breathing </li>
              <li >Lost of taste or smell</li>
              <li >Chestpain or Pressure</li> -->
            </p>
            </div>
            </div>
            <div class="row" style="margin-right:7px;font-size: 14px;">
              <div class="col md-6">
                <li >Santize</li>
              </div>
              <div class="col md-3">
                <li >Wear mask</li>
              </div>
              <div class="col md-3">
                <li>Stay Home</li>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col md-3" >
        <div class="card" style="height:230px;width:350px;margin-left:70px;">
          <div class="card-body">
            <h6 class="card-title" style="margin-left:20px; font-size:20px;"><strong>Make your self proud</strong></h6>
            <div class="row">
              <div class="col md-6" style="font-size: 14px;margin-left:5px;width:500px;">
              <p style="margin-top:32px;margin-left:3px;" >Donate for covid-19 relief.</p>
              <button type="button" class="btn btn-danger" style="margin-top:40px;height:26px;width:100px;padding-top:2px;font-size: 14px;margin-bottom:30px;" (click)="onDonate()">Donate</button>
              </div>
              
              
              <div class="col md-6"  >
                <img src="../assets/donate1.png" style="height:100px;width:100px; margin-left:0px;margin-right:0px;margin-top: 20px;">
              </div>
            </div>
            
            
            <p class="card-text"><strong></strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


      <div class="second" >
        <div class="container" >
          <div class="row" >
            <div class="col md-8">

                <div class="container">
              <div class="card" style="width:920px;margin-bottom: 20px;background-color: rgb(101, 248, 199); font-size: 14px;">
                <div class="row">
                  <!-- <input type="text" #name list="country" ([ngModel])='countryName' class="form-control"  placeholder="Search by country" (change)="onSearch(name.value)"   >
                  <datalist id="country" >
                    
                    <select>
                  <option  *ngFor="let list of this.instant" [value]="list.country">
                    {{list.country}}
                  </option>
                </select>
              </datalist> -->
              <!-- <input id="search-country" list="country" > -->
  
                      <!-- <select ([ngModel])='countryName' (click)="onSearch(countryName)">
                      <option>search by country</option>
                      <option *ngFor="let list of instant" [value]="list.country"  >{{list.country}}</option>
                    </select> -->
                    <div class="col">
                      
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                      <div class="form-group">
                   <select 
                   id="country"
                   class="form-control"
                    ngModel
                    name="country"
                     >
                     <option>Search by country</option>
                   <option *ngFor="let list of instant"  > {{list.country}}</option>
                   </select>
                   
                   <div class="form-group">
                    <button class="btn btn-primary"type="submit">Search</button>
                   </div>
                   
                  </div>
                
               
                  
                  
                
                  
                
              </form>
              </div>
                </div>
                
               

               

                <div class="row" style="margin-top:30px;margin-bottom:40px;">
                  <div class="col-md-3" >
                    <div class="card" style="margin-left:25px;height: 100px;width:200px;font-size: 16px;">
                      <div class="card-body">
                        <p class="card-title"><strong>Country</strong></p>
                        
                        <img [src]="this.inside.flag"   style="height:25px;width:45px; margin-left:20px;margin-top:15px;"> <span style="font-size: 15px;margin-top:60px;margin-left:15px; vertical-align: bottom;"><strong>{{this.info.country}}</strong></span>
                        <!-- <span style="font-size: 14px;margin-right:80px;">{{this.info.country}}</span> -->
                          
                        
                      </div>
                    </div>
                    </div>
                    
                    <div class="col-md-3">
                    <div class="card" style="margin-left:11px;height: 100px;width:200px;font-size: 16px;">
                      <div class="card-body">
                        <p class="card-title"><strong>Cases</strong></p>
                        <h5 class="card-text" style="margin-top:23px;text-align: right;"><strong>{{this.info.active}}</strong></h5>
                      </div>
                    </div>
                    </div>
                    
                    <div class="col-md-3">
                    <div class="card" style="margin-left:0px;height: 100px;width:200px;font-size: 16px;">
                      <div class="card-body">
                        <p class="card-title"><strong>Deaths</strong></p>
                        <h5 class="card-text" style="color:rgb(245, 104, 104);margin-top:23px;text-align: right;"><strong>{{this.info.deaths}}</strong></h5>
                      </div>
                    </div>
                    </div>
                    
                    <div class="col-md-3">
                    <div class="card" style="margin-left:-12px;height: 100px;width:200px;font-size: 16px;">
                      <div class="card-body">
                        <p class="card-title"><strong>Recovered</strong></p>
                        <h5 class="card-text" style="color:rgb(143, 136, 247);margin-top:23px;text-align: right;"><strong>{{this.info.recovered}}</strong></h5>
                      </div>
                    </div>
                    </div>
                </div>

            </div>
          </div>
        </div>






            <div class="col md-4" style="width:300px">
              <div class="card" style="background-color: rgb(101, 248, 199);height:300px;width:347px;margin-left:-18px;"  >
                <div class="card-body">
                  <h6 class="card-title"  style="margin-left:40px; font-size:20px;"><strong>Get your Flu Shots!</strong></h6>
                  <div class="row">

                    <div class="col md-6" >
                      <img src="../assets/doctor.png" style="height:120px;width:120px;margin-top:20px;text-align:center;margin-left:10px;margin-right:50px;">
                      
                    </div>

                    <div class="col md-6" >
                      <img src="../assets/injection4.png" style="height:100px;width:100px;margin-top:20px;">
                    </div>
                  </div>

                    <!-- <div class="col md-6" style="margin-right:10px;width:130px;" > -->
                    <p style="margin-left:3px;font-size: 14px;margin-top: 10px;" >Protect your Health this season.</p>
                    <button type="button" class="btn btn-danger" style="height:28px;width:140px;padding-left:0px;padding-right: 0px;padding-bottom: 12px;font-size: 14px;margin-bottom:6px;margin-left:140px;margin-top:17px;"(click)="onBook()">Book Appoinment</button>
                    <!-- </div> -->
                    
                    
                    
                  
                  
                  <p class="card-text"><strong></strong></p>
                </div>
              </div>


            </div>
          </div>
        </div>

      </div>







  </div>

</header>









  <!-- <h1 style="color:rgb(23, 56, 23);text-align:right;"><strong style="color:rgb(23, 56, 23); margin-right:25px;">C<img class="img" src="../assets/VirusF.png" style="height:40px;width:60px;">vid</strong><strong>Tracker</strong> </h1> -->

  
  <!-- <div class="home-inner"> -->
   
    <!-- <div class="row">
      <div class="col"> -->
        
       
    <!-- <select name="singleSelect" id="singleSelect" ng-model="data.singleSelect">
      
      <option value="">Search by country</option>
      <option  *ngFor="let list of instant" [value]="list.country" >
          {{list.country}}
      </option> 
      
    </select><br> -->
<!-- ------------------------------->


<!-- <div class="search">
  <div class="container">
    <div class="row">
      
      <input type="text" #name list="country" ([ngModel])='countryName' class="form-control"  placeholder="Search by country" (change)="onSearch(name.value)"   >
    <datalist id="country" >
      
      <select>
    <option  *ngFor="let list of instant" [value]="list.country">
      {{list.country}}
    </option>
  </select>
</datalist>
</div>
</div>
</div> -->
<!-- --------------------------------------------------------- -->

<!-- <div class="display-card">

  
<div class="container ">
  <div class="row mx-5">

    <input type="text" #name list="country" ([ngModel])='countryName' class="form-control"  placeholder="Search by country" (change)="onSearch(name.value)"   >
    <datalist id="country" >
      
      <select>
    <option  *ngFor="let list of instant" [value]="list.country">
      {{list.country}}
    </option>
  </select>
</datalist>

    <div class="col-md-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Country</h5>
    <p class="card-text"><strong>{{this.info.deaths}}</strong></p>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Cases</h5>
    <p class="card-text">{{this.info.active}}</p>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Deaths</h5>
    <p class="card-text" style="color:red;">{{this.info.deaths}}</p>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Recovered</h5>
    <p class="card-text"  >{{this.info.recovered}}</p>
  </div>
</div>
</div>
</div>
</div>
</div>
</div> -->



<!-- </div> -->

<!-- </div>
</div> -->
<!-- </header> -->




<!-- -------------------------------------------- -->

<!-- display data -->


<!-- <div class="card" *ngIf="cardPop ">
  <div class="card-body">

  

<div class="display-data">
  <div class="container"> --> 
    <!-- <div class="row">
      <div class="col-md-6 py-3 px-3 ">
        <div class="card bg-danger text-white ">
          <div class="card-body">
            <h3 class="text-primary">Deaths</h3>
            <p>{{info.todayDeaths}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 py-3 px-3">
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <h3 class="text-primary">Active Cases</h3>
            <p>{{info.active}}</p>
          </div>
        </div>
      </div> -->


      <!-- <div class="row">
        <div class="col-md-4 py-2 px-3">
          <div class="card bg-dark text-white">
            <div class="card-body">
              <h3 class="text-primary">Recovered</h3>
              <p>{{info.todayRecovered}}</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 py-2 px-3">
          <div class="card bg-info text-white">
            <div class="card-body">
              <h3 class="text-primary">negative</h3>
              <p>3456789</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 py-2 px-3">
          <div class="card bg-warning text-white">
            <div class="card-body">
              <h3 class="text-primary">total</h3>
              <p>3456789</p>
            </div>
          </div>
        </div>

    </div>

  </div>
</div>


</div>
</div>


 <input type="search" list="mylist">
<datalist id="mylist">
  <option value="Option 1">
  <option value="Option 2">
  <option value="Option 3">
</datalist> -->
























<!-- <div class="container">
  <div class="row">
    <div class="col" center>
          <h1>My App</h1>
            <input type="text" #name >
              <button type="button" class="btn btn-primary" (click)="onSearch(name.value)" >Search</button>
              <div class="card" *ngIf="cardPop">
                <div class="class-body">
              <p>Country:{{info.country}} </p>
              <p>Active Cases:{{info.active}} </p>
              <p>Deaths:{{info.deaths}}  </p>
              <p>iso2: {{this.inside.iso2}} </p>
            </div>
            </div> -->





            
        <!-- <select  >
    <option value="">Search by country</option>
    <option *ngFor="let list of instant" [value]="list.country" (change)="onSearch(list.country)">
        {{list.country}}
    </option>
        </select> -->


        
          



    <!-- <input type="text" id="searchCountry" list="country"  > -->
    <!-- <datalist id="country" >
      
      <select>
    <option  *ngFor="let list of instant" [value]="list.country">
      {{list.country}}
    </option>
  </select>
</datalist> -->




<!-- <select ([ngModel])="countryName" (ngModelChange)='onSelect($event)' multiple size=8>
  <option>Search by country</option>
  <option  *ngFor="let list of instant" [value]="list.country">
    {{list.country}}
  </option>
</select> -->

<!-- <input #name list="encodings" (change)="onSearch(name.value)"> -->
<!-- <datalist id="encodings">
  <option>Search by country</option>
    <option *ngFor="let list of instant" [value]="list.country"></option>
</datalist> -->




 
<!-- <select ([ngModel])='countryName' (click)="onSearch(countryName)">
  <option>search by country</option>
  <option  *ngFor="let list of instant" [value]="list.country">{{list.country}}</option>
</select> -->
     

<!--  
<input list="applications" name="application"> -->

  <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
 <select 
 id="country"
  ngModel
  name="country">
 <option *ngFor="let list of instant">{{list.country}}</option>
 </select> 
 <button list="applications" type="submit">Search</button>
</div>
</form> -->



 
   


    




    